@import url('https://api.fonts.coollabs.io/css2?family=Open+Sans&display=swap');

/* Define main color variables, default font, etc*/
:root {
    --main-text-color: white;
    --main-font-family: "Open Sans";
    color: white;
    --main-margin-left: 10px;
}


.sidebar {
    margin: 10px 10px 10px var(--main-margin-left);
}

/* The title on the page, The Cry of My Heart */
.title {
    font-size: xx-large;
    text-decoration: none;
}

.buttons {
    display: inline;
}

.sidebar-link {
    margin: 0 0 0 10px;
    display: inline;
    float: right;

}

a:visited {
    color: white;
}

body {
    font-family: var(--main-font-family), 'Times New Roman', Times, serif;
    background-color:#2F2840;
}

footer {
    margin: 0 0 0 var(--main-margin-left);
}

@media only screen and (max-width: 1000px) {

    .title {
        margin: 0 10px 0 var(--main-margin-left);
    }

    .buttons {
        display: block;
    }

    .sidebar {
        text-align: center;
    }
    
    .sidebar-link {
        float: none;
    }
}